.button {
    background-color: black;
    color: white;
    padding: .3rem;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}