.navbar-header {
    top: 0;
    left: 0;
    overflow: hidden;
    max-height: 100%;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 60px;
    padding: 0 1rem;
}

.icon {
    font-size: x-large;
    cursor: pointer;
    display: inline-block;
    margin: .5rem;
}

.icon a {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 33%;
    top: 60px;
    left: -100vw;
    position: absolute;
    background-color: white;
    justify-content: space-between;
    transition: left .5s;
    color: black;
    z-index: 5000;
    font-size: smaller;
}

.menu-active {
    left: 0;
}

.menu li {
    list-style: none;
    padding: 1rem 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    width: 50%;
}

.change-position {
    position: fixed;
}

.search {
    display: none;
    width: 80%;
}

.search-active {
    display: flex;
}

.search input {
    width: 35%;
    padding: .4rem;
    margin: .5rem 0;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.search-wrapper {
    border-bottom: 1px solid black;
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.search-wrapper span {
    display: inline-block;
    padding: 0 .3rem;
    font-size: .8rem;
}

.search-wrapper input {
    height: 100%;
    border: none;
    outline: none;
}

.hide {
    display: none;
}



@media screen and (max-width: 414px) {

    .icon {
        margin-top: 1rem;
        font-size: x-large;
    }

    .menu {
        width: 100%;
    }

}